 <!-- Destinations -->
 <section class="destinations" id="destinations">
    <div class="contentBx">
      <h2 class="heading">Destinations</h2>
      <p class="text">Welcome to a virtual bulletin board with a universe of places awaiting discovery. Enjoy the thrill of exploring <strong>new locations!</strong> You'll discover a brief description, intriguing information, useful hints, and a <strong>map</strong> indicating some of the most gorgeous places to visit while on your tour for each location. If you enjoy photography, there is also a handpicked <strong>collection of photographs</strong> at the conclusion!</p>
    </div>
    <div class="wrapper">
          <div class="card" solar-page="pages/cosenza/cosenza.html" solar-selector="main" href="#location">
            <img src ="images/cosenza/pic_cs_2.jpg" alt="Avatar">
                <div class="content-2">
                  <h1 solar-page="pages/cosenza/cosenza.html" solar-selector="main" href="#location">Cosenza</h1>
                  <h3>Calabria,Italy</h3>
                  <!-- <p>I miss that life :(</p> -->
                  <!-- <div class="button"><span>Read more</span></div> -->
                </div>
          </div>
          <div class="card" solar-page="partial/allestimento.html" solar-selector="main" href="#location">
            <img src ="images/Venezia/icon.jpg" alt="Avatar">
            <div class="content-2">
              <h1>Venice</h1>
              <h3>Veneto, Italy</h3>
              <!-- <p>I miss that life :(</p> -->
                <!-- <a class="button" href="imgPortFolio.html" target="_blank"><span>Read more</span></a> -->
            </div>
          </div>
          <div class="card" solar-page="partial/allestimento.html" solar-selector="main" href="#location">
            <img src ="images/Firenze/icon.jpg" alt="Avatar">
            <div class="content-2">
              <h1>Florence</h1>
              <h3>Tuscany, Italy</h3>
              <!-- <p>I miss that life :(</p> -->
              <!-- <div class="button"><span>Read more</span></div> -->
            </div>
          </div>
          <div class="card" solar-page="partial/allestimento.html" solar-selector="main" href="#location">
            <img src ="images/Londra/icon.jpg" alt="Avatar">
            <div class="content-2">
              <h1>London</h1>
              <h3>England</h3>
            </div>
          </div>
          <div class="card" solar-page="partial/allestimento.html" solar-selector="main" href="#location">
            <img src ="images/Parigi/icon.jpg" alt="Avatar">
            <div class="content-2">
              <h1>Paris</h1>
              <h3>France</h3>
              <!-- <p>I miss that life :(</p> -->
              <!-- <div class="button"><span>Read more</span></div> -->
            </div>
          </div>
          <div class="card" solar-page="partial/allestimento.html" solar-selector="main" href="#location">
            <img src ="images/Madrid/icon.jpeg" alt="Avatar">
            <div class="content-2">
              <h1>Madrid</h1>
              <h3>Spain</h3>
              <!-- <p>I miss that life :(</p> -->
              <!-- <div class="button"><span>Read more</span></div> -->
            </div>
          </div>
          <div class="card" solar-page="partial/allestimento.html" solar-selector="main" href="#location">
            <img src ="images/Barcellona/icon.jpg" alt="Avatar">
            <div class="content-2">
              <h1>Barcelona</h1>
              <h3>Spain</h3>
              <!-- <p>I miss that life :(</p> -->
              <!-- <div class="button"><span>Read more</span></div> -->
            </div>
          </div>
          
      </div>
  </section>

  <style>
    .destinations{
        padding-top: 10vh;
    }
  </style>

  <script>
      const y = document.querySelector('#destin').offsetTop;
      window.scroll({
        top: y,
        behavior: 'smooth'
      });
      document.querySelector('#location').innerHTML = '';
  </script>