    <!-- About -->
    <section class="about" id="about">
        <div class="wrapper">
          <div class="contentBx">
            <h2 class="heading">About Blog</h2>
            <p class="text">Hello everyone, and welcome to this blog! It's a small space where we share informations, emotions, and why not, even snapshots and memories of our vacations. An invaluable tool to remind us of the places we've visited, to share our travel experiences, or simply embark on a journey of discovering new destinations! Each location will be explored through its customs, traditions, and places. To enhance the experience, we've included a collection of images that offer a sneak peek into our favorite destinations.
            <br><br>
            <strong>Choose your destination, and let's begin the journey!</strong> </p>

            <!-- videopopup -->
            <a type="button" class="btn-vid" href="#about">Open Video</a>
            <div id="videoPopup" class="popup">
            <div class="popup-content">
                <span id="closeVideoPopup" class="close">&times;</span>
                <video controls>
                <source src="images/GX010038.mp4" type="video/mp4">
                Your browser does not support the video tag.
                </video>
            </div>
            </div>
            <!-- end videopopup -->
          </div>
          
          <div class="imgBx">
            <img src="images/pic2.JPG" alt="Immagine" oncontextmenu="return false;">
          </div>
          <p class="imgfooter"><i class="fas fa-map-pin"></i>  Monte Cocuzzo, Cosenza. Italy</p>
        </div>
      </section>
      
      <style>
      .popup {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.7);
        z-index: 1;
      }
      
      .popup-content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #fff;
        padding: 20px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
      }
      
      .close {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 20px;
        cursor: pointer;
      }
      
      .btn-vid {
        color:  var(--gunmetal);
        margin: 1.8em;
        border: 2px solid  var(--gunmetal);
        background:  white;
        border-radius: 2em;
        padding: 1em 3em;
        font-size: 1em;
        font-weight: bold;
        outline: none;
        cursor: pointer;
        text-align: center;
        align-items: center;
        display: block;
        width: 200px;
        margin: 0 auto;
        margin-top: 30px;
      }
      
      .btn-vid:hover {
      
      background-color: rgba(51, 60, 70, 0.3);
      }

     @media (max-width: 768px) {
        .popup-content {
          width: 80%; /* Regola la larghezza della popup per adattarla ai dispositivi mobili */
          padding: 10px; /* Riduci il padding per dispositivi mobili */
        }

        .btn-vid {
          width: 100%; /* Imposta la larghezza al 100% per dispositivi mobili */
          margin-top: 10px; /* Riduci il margine superiore per dispositivi mobili */
        }
      }
      </style>
      
      
      <script>
          // Get the elements
      const openPopupButton = document.querySelector('.btn-vid');
      const closePopupButton = document.querySelector('.close');
      const videoPopup = document.querySelector('.popup');
      
      // Open the video popup
      openPopupButton.addEventListener('click', () => {
        videoPopup.style.display = 'block';
      });
      
      // Close the video popup
      closePopupButton.addEventListener('click', () => {
        videoPopup.style.display = 'none';
      });
      
      // Close the video popup when clicking outside the popup
      window.addEventListener('click', (event) => {
        if (event.target === videoPopup) {
          videoPopup.style.display = 'none';
        }
      });
      
      </script>