<div class="container">
    <div class="construction-icon">&#x1F6A7;</div>
    <div class="title">Location under construction</div>
    <div class="message">We are working to create this content.
      <p>It will be available from 1/1/2024.</p>
    </div>
  </div>

  <style>
    /* body {
      font-family: Arial, sans-serif;
      background-color: #f2f2f2;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
    } */

    .container {
      height: 70vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      padding: 20px;
      background-color: white;
      border-radius: 10px;
      box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    }

    .title {
      font-size: 24px;
      margin-bottom: 10px;
    }

    .message {
      font-size: 16px;
      color: #888;
      margin-bottom: 20px;
    }

    .construction-icon {
      font-size: 60px;
      color: #FF5733;
    }
  </style>

<script>
  const y = document.querySelector('#destin').offsetTop;
  window.scroll({
    top: y,
    behavior: 'smooth'
  });
  document.querySelector('#location').innerHTML = '';
</script>