 <!-- Destinations -->
 <section class="destinations" id="destinations">
    <div class="contentBx">
      <h2 class="heading">Destinations</h2>
      <p class="text">Welcome to a virtual bulletin board with a universe of places awaiting discovery. Enjoy the thrill of exploring <strong>new locations!</strong> You'll discover a brief description, intriguing information, useful hints, and a <strong>map</strong> indicating some of the most gorgeous places to visit while on your tour for each location. If you enjoy photography, there is also a handpicked <strong>collection of photographs</strong> at the conclusion!</p>
    </div>
    <div class="wrapper">
        <div class="card" solar-page="partial/allestiemnto.html" solar-selector="main">
            <img src ="https://images.unsplash.com/photo-1469854523086-cc02fe5d8800?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1416&q=80" alt="Avatar">
                <div class="content-2">
                  <h1 solar-page="partial/allestimento.html" solar-selector="main">Arques National Park</h1>
                  <h3>Moab, USA</h3>
                  <!-- <p>I miss that life :(</p> -->
                  <!-- <div class="button"><span>Read more</span></div> -->
                </div>
          </div>
          <div class="card" href="#location">
            <img src ="images/cosenza/pic_cs_2.jpg" alt="Avatar">
                <div class="content-2">
                  <h1 solar-page="pages/cosenza/cosenza.html" solar-selector="main" href="#location">Cosenza</h1>
                  <h3>Italy</h3>
                  <!-- <p>I miss that life :(</p> -->
                  <!-- <div class="button"><span>Read more</span></div> -->
                </div>
          </div>
          <div class="card">
            <img src ="https://images.unsplash.com/photo-1476514525535-07fb3b4ae5f1?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="Avatar">
            <div class="content-2">
              <h1>Königssee</h1>
              <h3>Schönau am Königssee, Germany</h3>
              <!-- <p>I miss that life :(</p> -->
              <!-- <div class="button"><span>Read more</span></div> -->
            </div>
          </div>
          <div class="card">
            <img src ="https://images.unsplash.com/photo-1469474968028-56623f02e42e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1506&q=80" alt="Avatar">
            <div class="content-2">
              <h1>Ciucaș Peak</h1>
              <h3>Romania</h3>
              <!-- <p>I miss that life :(</p> -->
              <!-- <div class="button"><span>Read more</span></div> -->
            </div>
          </div>
          <div class="card">
            <img src ="https://images.unsplash.com/photo-1535747790212-30c585ab4867?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjI0MX0&auto=format&fit=crop&w=711&q=80" alt="Avatar">
            <div class="content-2">
              <h1>Lago di Braises</h1>
              <h3>Italy</h3>
              <!-- <p>I miss that life :(</p> -->
              <!-- <div class="button"><span>Read more</span></div> -->
            </div>
          </div>
          <div class="card">
            <img src ="https://images.unsplash.com/photo-1498307833015-e7b400441eb8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=80" alt="Avatar">
            <div class="content-2">
              <h1>Rialto Bridge</h1>
              <h3>Venezia, Italy</h3>
              <!-- <p>I miss that life :(</p> -->
                <!-- <a class="button" href="imgPortFolio.html" target="_blank"><span>Read more</span></a> -->
            </div>
          </div>
          <div class="card">
            <img src ="https://images.unsplash.com/photo-1496531693211-31c5234a5ea9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="Avatar">
            <div class="content-2">
              <h1>Ricefields tegallang</h1>
              <h3>Bali, Indonesia</h3>
              <!-- <p>I miss that life :(</p> -->
              <!-- <div class="button"><span>Read more</span></div> -->
            </div>
          </div>
          <div class="card">
            <img src ="https://images.unsplash.com/photo-1493976040374-85c8e12f0c0e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=750&q=80" alt="Avatar">
            <div class="content-2">
              <h1>Kyoto</h1>
              <h3>Japan</h3>
            </div>
          </div>
      </div>
  </section>

  <style>
    .destinations{
        padding-top: 10vh;
    }
  </style>